In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('pataaka.csv')

In [3]:
df

,#filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,001.png,20597,{},1,0,"{""name"":""rect"",""x"":40,""y"":11,""width"":52,""heigh...",{}
1,002.png,21568,{},1,0,"{""name"":""rect"",""x"":39,""y"":9,""width"":54,""height...",{}
2,003.png,20842,{},1,0,"{""name"":""rect"",""x"":38,""y"":8,""width"":54,""height...",{}
3,004.png,21190,{},1,0,"{""name"":""rect"",""x"":38,""y"":11,""width"":53,""heigh...",{}
4,005.png,20246,{},1,0,"{""name"":""rect"",""x"":41,""y"":13,""width"":50,""heigh...",{}
...,...,...,...,...,...,...,...
220,214.png,19939,{},1,0,"{""name"":""rect"",""x"":38,""y"":11,""width"":49,""heigh...",{}
221,215.png,18375,{},1,0,"{""name"":""rect"",""x"":47,""y"":14,""width"":41,""heigh...",{}
222,216.png,18293,{},1,0,"{""name"":""rect"",""x"":43,""y"":17,""width"":45,""heigh...",{}
223,217.png,18383,{},1,0,"{""name"":""rect"",""x"":42,""y"":17,""width"":43,""heigh...",{}
224,218.png,17944,{},1,0,"{""name"":""rect"",""x"":43,""y"":21,""width"":43,""heigh...",{}

In [4]:
df["region_shape_attributes"] = df["region_shape_attributes"].apply(lambda x : dict(eval(x)) )
df2 = df["region_shape_attributes"].apply(pd.Series )

In [9]:
df2

     name   x   y  width  height  x_min  y_min  x_max  y_max
0    rect  40  11    128     128     40     11     92    121
1    rect  39   9    128     128     39      9     93    124
2    rect  38   8    128     128     38      8     92    125
3    rect  38  11    128     128     38     11     91    124
4    rect  41  13    128     128     41     13     91    126
..    ...  ..  ..    ...     ...    ...    ...    ...    ...
220  rect  38  11    128     128     38     11     87    119
221  rect  47  14    128     128     47     14     88    117
222  rect  43  17    128     128     43     17     88    118
223  rect  42  17    128     128     42     17     85    113
224  rect  43  21    128     128     43     21     86    116

[225 rows x 9 columns]

In [6]:
df2['x_min'], df2['y_min']=df2['x'], df2['y']
df2['x_max'], df2['y_max']=df2['x']+df2['width'], df2['y']+df2['height']

In [8]:
df2['width'], df2['height']=128, 128

In [10]:
result = pd.concat([df, df2], axis=1).drop(['region_shape_attributes', 'name', 'x', 'y', 'file_attributes', 'region_count', 'region_id', 'region_attributes'], axis=1)
result['class']='Pataaka'

In [12]:
result

    #filename  file_size  width  height  x_min  y_min  x_max  y_max    class
0     001.png      20597    128     128     40     11     92    121  Pataaka
1     002.png      21568    128     128     39      9     93    124  Pataaka
2     003.png      20842    128     128     38      8     92    125  Pataaka
3     004.png      21190    128     128     38     11     91    124  Pataaka
4     005.png      20246    128     128     41     13     91    126  Pataaka
..        ...        ...    ...     ...    ...    ...    ...    ...      ...
220   214.png      19939    128     128     38     11     87    119  Pataaka
221   215.png      18375    128     128     47     14     88    117  Pataaka
222   216.png      18293    128     128     43     17     88    118  Pataaka
223   217.png      18383    128     128     42     17     85    113  Pataaka
224   218.png      17944    128     128     43     21     86    116  Pataaka

[225 rows x 9 columns]

In [13]:
result.to_csv("pataaka.csv",index=False, columns=result.columns)