In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('mrga_shirsha.csv')

In [3]:
df

,#filename,file_size,file_attributes,region_count,region_id,region_shape_attributes,region_attributes
0,Mudra 22001.png,20601,{},1,0,"{""name"":""rect"",""x"":30,""y"":32,""width"":76,""heigh...",{}
1,Mudra 22002.png,20725,{},1,0,"{""name"":""rect"",""x"":28,""y"":37,""width"":77,""heigh...",{}
2,Mudra 22003.png,20871,{},1,0,"{""name"":""rect"",""x"":23,""y"":26,""width"":88,""heigh...",{}
3,Mudra 22004.png,20841,{},1,0,"{""name"":""rect"",""x"":22,""y"":24,""width"":87,""heigh...",{}
4,Mudra 22005.png,20857,{},1,0,"{""name"":""rect"",""x"":22,""y"":24,""width"":80,""heigh...",{}
...,...,...,...,...,...,...,...
261,Mudra 22272.png,20235,{},1,0,"{""name"":""rect"",""x"":46,""y"":26,""width"":57,""heigh...",{}
262,Mudra 22273.png,20020,{},1,0,"{""name"":""rect"",""x"":49,""y"":23,""width"":58,""heigh...",{}
263,Mudra 22274.png,20194,{},1,0,"{""name"":""rect"",""x"":56,""y"":23,""width"":48,""heigh...",{}
264,Mudra 22275.png,19931,{},1,0,"{""name"":""rect"",""x"":49,""y"":22,""width"":55,""heigh...",{}
265,Mudra 22276.png,19859,{},1,0,"{""name"":""rect"",""x"":52,""y"":22,""width"":57,""heigh...",{}

In [4]:
df["region_shape_attributes"] = df["region_shape_attributes"].apply(lambda x : dict(eval(x)) )
df2 = df["region_shape_attributes"].apply(pd.Series )

In [11]:
df2

     name   x   y  width  height  x_min  y_min  x_max  y_max
0    rect  30  32    128     128     30     32    106    103
1    rect  28  37    128     128     28     37    105    100
2    rect  23  26    128     128     23     26    111    108
3    rect  22  24    128     128     22     24    109    104
4    rect  22  24    128     128     22     24    102     98
..    ...  ..  ..    ...     ...    ...    ...    ...    ...
261  rect  46  26    128     128     46     26    103    103
262  rect  49  23    128     128     49     23    107    100
263  rect  56  23    128     128     56     23    104     99
264  rect  49  22    128     128     49     22    104    103
265  rect  52  22    128     128     52     22    109    102

[266 rows x 9 columns]

In [7]:
df2['x_min'], df2['y_min']=df2['x'], df2['y']
df2['x_max'], df2['y_max']=df2['x']+df2['width'], df2['y']+df2['height']

In [10]:
df2['width'], df2['height']=128, 128

In [14]:
result = pd.concat([df, df2], axis=1).drop(['region_shape_attributes', 'name', 'x', 'y', 'file_attributes', 'region_count', 'region_id', 'region_attributes'], axis=1)
result['class']='Mrga-Shirsha'

In [17]:
result.describe()

,file_size,width,height,x_min,y_min,x_max,y_max
count,266.000000,266.0,266.0,266.000000,266.000000,266.000000,266.000000
mean,20736.511278,128.0,128.0,37.067669,28.733083,102.977444,119.082707
std,529.106019,0.0,0.0,11.746823,7.702989,8.680897,8.789398
min,19084.000000,128.0,128.0,13.000000,8.000000,83.000000,98.000000
25%,20398.250000,128.0,128.0,25.000000,24.000000,97.000000,111.000000
50%,20630.000000,128.0,128.0,40.000000,28.000000,103.000000,122.000000
75%,21117.000000,128.0,128.0,47.000000,33.750000,107.000000,127.000000
max,22173.000000,128.0,128.0,56.000000,46.000000,126.000000,128.000000

In [25]:
result.to_csv("mrga-shirsha.csv",index=False, columns=result.columns)